# Ignore node_modules and build outputs
node_modules
dist
dist-ssr

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore git and IDE files
.git
.gitignore
.vscode
.idea
.DS_Store

# Ignore documentation and Docker files
README.md
Dockerfile
.dockerignore
